#github-ribbon {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  width: 149px;
  height: 149px;
  z-index: 1337;
}

#memes img,
#memes video,
#memes audio {
  display: block;
  max-width:230px;
  max-height:150px;
  width: auto;
  height: auto;
}

#memes {
  /* Prevent vertical gaps */
  line-height: 0;
}

.grey {
  color: #999999 !important;
  cursor: default;
}